{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="hero">

    <div class="hero-content">
        <h1>Revive... Renew... Reimagine... </h1>
        <p>Breathe new life into your furniture with our Premium Upholstery Services</p>
        <a href="{% url 'contact' %}" class="cta-button">Get a Quote</a>

    </div>
</div>
{% endblock %}