{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="hero">

    <div class="hero-content">
        <h1>Revive... Renew... Reimagine... </h1>
        <p>Breathe new life into your furniture with our Premium Upholstery Services</p>
        <a href=# class="cta-button-link">
            <button class="cta-button">Get a Quote</button>
        </a>
    </div>
</div>


<!-- Move all this into a seperate page -->
<h2 class="about-title">About Us</h2>
<div class="about-section">
    <p class="about-text">
        <span class="highlight">Katiekate & Co</span> was born from a deep desire to nurture creativity and breathe
        new life into forgotten treasures. I have always cherished family heirlooms—those items that carry with them
        stories, memories, and sentimental value. In a world that often prioritizes the new over the old, I find
        great joy in showing people how something once neglected—often tucked away in attics, sheds, or buried
        beneath piles of belongings—can be beautifully transformed into a bespoke, one-of-a-kind piece that holds
        meaning for them.
    </p>
</div>
{% endblock %}