{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="View gallery of KatieKate website">
<meta name="keywords" content="Reupholstery, Telford, Upholstery Services">
<meta name="author" content="KatieKate">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay content-wrapper"></div>
<div class="container-fluid  mt-5 pt-5">
    <div class="row mt-lg-5">
        <!-- Image Column -->
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if image.image %}
                    <a href="{% url 'gallery_full_view' image.id %}">
                        <img class="card-img-top img-fluid" src="{{ image.image.url }}" alt="{{ image.name }}">
                    </a>
                {% else %}
                    <a href="#">
                        <img class="card-img-top img-fluid" src="{% static 'noimage.png' %}" alt="No image available for {{ image.name }}">
                    </a>
                {% endif %}
            </div>
        </div>

        <!-- Product Details Column -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ image.title }}</p>
                <p class="mt-3">{{ image.description }}</p>
                
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_gallery_image' image.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_gallery_image' image.id %}">Delete</a>
                    </small>
                {% endif %}
                
             
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}
