{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row pt-lg-3">
        <div class="col-12 col-md-6 pt-5 mt-5">
            <hr>
            <h5 class="logo-font mb-4">Contact Us</h5>
            <p class="text-muted">Have a question? Fill out the form below, and we'll get back to you soon.</p>
            <hr>
        </div>
        <div class="col-12 col-md-6 pt-lg-5 mt-lg-5">
            <hr>
            <h5 class="logo-font mb-4">About Us</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <!-- About Us Section: appears first on mobile, second on larger screens -->
        <div class="col-12 col-md-6 order-1 order-md-2 mt-3 mt-md-0 mb-2 mb-sm-5">
            <div>
                <p>
                    <span class="highlight">Katiekate & Co</span> was born from a deep desire to nurture creativity and breathe new life into forgotten treasures.
                    I have always cherished family heirlooms—those items that carry with them stories, memories, and sentimental value.
                    In a world that often prioritizes the new over the old, I find great joy in showing people how something once neglected—often tucked away in attics, sheds, or buried beneath piles of belongings—can be beautifully transformed into a bespoke, one-of-a-kind piece that holds meaning for them.
                </p>
                <p>
                    <span class="font-weight-bold">Feel free to reach out with any items in need of reupholstery! Send us pictures along with your vision for the piece, and we’ll do our very best to restore it beautifully, bringing new life to your cherished items.</span>
                </p>
            </div>
        </div>

        <!-- Contact Form Section: appears second on mobile, first on larger screens -->
        <div class="col-12 col-md-6 order-2 order-md-1">
            <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <button class="btn btn-black rounded-0" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
